
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .container {
    width: 100%;
    /* max-width: 750px; */
    margin: 0 auto;
    background: #23424a;
    color: white;
    padding: 50px 0;
  }
  .content{
    width: 50%;
    margin: 0 auto;
  }
  
  .intro-content {
    width: 50%;
    margin: 0 auto;
  }
  